body {
    background-color: #161923;
}

h1, h2, h3, h4, h5, h6 {
    color: #c8c9db;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #c8c9db;
    text-decoration: none;
}

#content {
    display: flex;
    justify-content: center;
}