@import 'components/navbar.scss';
@import 'components/topbar.scss';
@import 'components/page_renderer.scss';
@import 'components/universe_renderer.scss';

@import 'pages/course.scss';
@import 'pages/search.scss';

@import 'pdf_viewer.scss';

.theme-light {
    --col1: black; /* Text */
    --col2: white; /* Background */
    --col3: rgb(245, 245, 245); /* Nav Background */
    --col4: blue; /* Colored Text */
}

.theme-dark {
    --col1: #c8c9db; /* Text */
    --col2: #161923; /* Background */
    --col3: #2c2d41; /* Nav Background */
    --col4: #286f96; /* Colored Text */
}

body {
    transition: color 0.5s, background-color 0.5s;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*MathJax {
    font-style: italic;
    font-size: 0.9em;
}*/

#content, h1, h2, h3, h4, h5, h6 {
    color: var(--col1);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: var(--col1);
    text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
    overflow: hidden;
}
  