body {
  /*background-color: white;*/
}

#inner-content {
  font-family: "Computer Modern Serif", serif;
  font-size: 1.7em;
}

#inner-content, h1, h2, h3, h4, h5, h6 {
  /*color: black;*/
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  /*color: black;*/
  text-decoration: none;
}