
#content {
    margin-left: var(--sidebar-width);
    padding-left: 5%;
    padding-right: 5%;
    transition: margin-left 0.3s ease-in-out; /* Add a transition for smooth animation */
    display: flex;
    justify-content: center;
    font-family: "Computer Modern Serif", serif;
    font-size: 1.7em;
}

/* Navbar Styles */

#content.retracted {
    margin-left: 0; /* Set margin to 0 when sidebar is retracted */
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--col3);
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    overflow-y: auto; /* Add overflow-y property with value auto */
    max-height: 100vh;
}

/* Navbar Animation */
#navbar.retracted {
    transform: translateX(-100%);
}

#navbar-content {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

#navbar a {
    color: var(--col1);
    text-decoration: none;
}

.nav-title {
    color: var(--col1);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif, monospace;
}

.nav-title:hover:not(.empty-nav-title) {
    color: var(--col4);
    cursor: pointer;
}

.nav-title.active {
    color: var(--col4);
}

.nav-title-level-2 {
    margin-left: 25px;
}

.nav-title-level-3 {
    margin-left: 50px;
}

.empty-nav-title {
    opacity: 0.5;
}

/* Top bar */

#inner-content {
    margin-top: 40px;
}

#top-bar {
    position: fixed;
    z-index: 10;
    padding: 5px;
    padding-top: 15px;
    color: var(--col1);
    font-size: 30px;
    top: 0;
    width: calc(90% - var(--sidebar-width));
    background-color: var(--col2);
    transition: width 0.3s ease-in-out;
    border-bottom: 2px solid var(--col1);
    /**/
    display: flex;
    justify-content: space-between;
  }
  
#top-bar-icons {
    flex: 1;
    display: flex;
}
  
#top-bar-title {
    flex: 50;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    opacity: 0.65;
}

#top-bar.retracted {
    width: 80%;
}

#top-bar-icons i {
    opacity: 50%;
    transition: opacity 0.1s ease;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#top-bar-icons i:hover {
    opacity: 100%;
}

/*#resize-handle {
    position: absolute;
    top: 0;
    right: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    z-index: 200;
}*/