.theme-light {
    --col1: black; /* Text */
    --col2: white; /* Background */
    --col3: rgb(245, 245, 245); /* Nav Background */
    --col4: blue; /* Colored Text */
}

.theme-dark {
    --col1: #c8c9db; /* Text */
    --col2: #161923; /* Background */
    --col3: #2c2d41; /* Nav Background */
    --col4: #286f96; /* Colored Text */
}

:root {
    --sidebar-width: 400px;
}

body {
    background-color: var(--col2);
}

.MathJax {
    font-style: italic;
    font-size: 0.9em;
}
  
#content, h1, h2, h3, h4, h5, h6 {
    color: var(--col1);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: var(--col1);
    text-decoration: none;
}