#editor {
    position: absolute;
    top: 500px;
    left: 100px;
    width: 600px;
    height: 500px;
    z-index: 10;
}

#dependencies-editor-container, #courses-editor-container {
    max-height: 200px;
    overflow-y: scroll;
}