body {
    background-color: #161923;
}

h1, h2, h3, h4, h5, h6 {
    color: #c8c9db;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #c8c9db;
    text-decoration: none;
}

#content {
    display: flex;
    justify-content: center;
    margin-left: 10vw; /* Set the initial margin for the sidebar width */
    transition: margin-left 0.3s ease-in-out; /* Add a transition for smooth animation */
}

/* Navbar Styles */

#content.retracted {
    margin-left: 0; /* Set margin to 0 when sidebar is retracted */
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #2c2d41;
    padding: 20px;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
}

#navbar-content {
    display: flex;
    flex-direction: column;
}

#navbar a {
    color: #c8c9db;
    text-decoration: none;
}

/*#resize-handle {
    position: absolute;
    top: 0;
    right: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    z-index: 200;
}*/

/* Navbar Animation */
#navbar.retracted {
    transform: translateX(-100%);
}

#navbar-toggle.retracted span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
}

#navbar-toggle.retracted span:nth-child(2) {
    opacity: 0;
}

#navbar-toggle.retracted span:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
}

.nav-title {
    color: #c8c9db;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif, monospace;
}

.nav-title:hover {
    color: #286f96;
}

.nav-title-level-2 {
    margin-left: 25px;
}

.nav-title-level-5 {
    margin-left: 50px;
}

#navbar-toggle {
    position: fixed;
    left: 250px;
    top: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    z-index: 200;
    transition: transform 0.3s ease-in-out;
}