body {
    --sidebar-width: 400px;
}

#navbar {
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--col3);
    z-index: 10;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    max-height: 100vh;
    line-height: normal;

    position: absolute;
}

#navbar.hidden {
    left: calc(-1 * var(--sidebar-width));
}

.course-container {
    margin-left: var(--sidebar-width);
}

.retracted {
    margin-left: 0px;
}

/* Media query to hide the navbar by default under a certain screen size */
@media (max-width: 768px) {
    #navbar {
        left: 0;
        width: 80%;
        padding-left: 10%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #navbar.full + .course-body {
        display: none;
    }

    #navbar.hidden:not(.full) {
        display: none;
    }

    #navbar:not(.full) {
        display: none;
    }

    #navbar:not(.full) + .course-body {
        display: flex;
    }

    .course-container {
        margin-left: 0px;
    }

    #navbar.hidden {
        left: 0;
    }
}

#navbar-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#navbar a {
    color: var(--col1);
    text-decoration: none;
}

.nav-title {
    color: var(--col1);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif, monospace;
}

.nav-title:hover:not(.empty-nav-title) {
    color: var(--col4);
    cursor: pointer;
}

.nav-title.active {
    color: var(--col4);
}

.nav-title-level-2 {
    margin-left: 25px;
}

.nav-title-level-3 {
    margin-left: 50px;
}

.empty-nav-title {
    opacity: 0.5;
}