body {
  background-color: var(--col2);
}

#inner-content {
  position: relative;
  font-family: "Computer Modern Serif", serif;
  font-size: 27px;
}

#inner-content, h1, h2, h3, h4, h5, h6 {
  color: var(--col1);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--col1);
  text-decoration: none;
}