#universe-canvas {
    width: 100%;
    height: 100%;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#universe-content a {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: #fff; /* Text color */
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.7); /* Box shadow */
    overflow: hidden;
    transition: border-radius 0.3s ease-in-out, left 0.3s ease-in-out;
}

#universe-content a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Underline height */
    background-color: #fff; /* Underline color */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

#universe-content a:hover::before {
    width: 100%;
    left: 0;
}

#universe-content a:hover {
    border-radius: 20px;
}